
  /*  .content-wrapper{
        width: 750px;
        background: whitesmoke;
        height: 500px;
        /* color: white; 
        border-radius: 5px;
        padding-top: 50px;
        box-shadow: 0 0 2px;
        left: 50%;
        position: relative;
        top: 100px;
        transform: translate(-50%);
        display: block;
    }
    
    
    h1{ 
           text-transform: capitalize;
        margin-bottom: 30px;
        font-size: xx-large;
        text-align: center;
        line-height: 1.3;
    }
    h2{
       
            font-size: large;
            color: gray;
        
    }
    
    p {
        background: white;
        padding: 10px;
        box-shadow: 0 0 2px;
        font-weight: bold;
        /* margin-bottom: 5px; 
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
        border-radius: 5px;
        font-size: large;
        height: 50px;
        position: relative;
        top: 30px;
    }*/

    .card{
        width: 100vh;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .conteneur{
        width: 100%;
        height: 80%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .titre{
        height: 25%;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }
    
    .contenu{
        height: 75%;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: large;
        border-top: 1px solid lightgray;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(211, 211, 211, 0.078);
    }
    @media (max-width: 576px) {
    .card{
        top: 106px;
    }
    
    }