

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Results</title>
     {% block stylesheets %}
    {{ encore_entry_link_tags('results') }}
    {% endblock %}
</head>
<body>
 <div class="home"><a href="{{ path('student_dashboard') }}">Retour Dashboard</a></div>
<div class="final">
    <div id="scoreDisplay"></div>
    <div class="btnShow">
     <button id="detailsButton">Afficher Les Details</button>
    </div>
   
</div>
<div id="details" style="display:none;"></div>
    <script src="js/results.js"></script>
</body>
</html>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/results.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>

{% endblock %}
